:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(83, 43, 228);
  --solid-black: rgb(5, 5, 5);
}

.audio-player {
  width: 90%;
  margin: 20px auto 0 auto;
}

.progress-bar {
  appearance: none;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

.time-range {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: rgb(107, 105, 105);
}

.player-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 30px;
}

.pause-play-button {
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px 3px var(--solid-black);
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.forward-backward-button {
  font-size: 30px;
  color: var(--solid-black);
  background: none;
  border: none;
  cursor: pointer;
}
