:root {
  --primary: rgb(255, 255, 255);
}

.header-box {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
  justify-content: space-between;
  z-index: 1;
}
.burger-menu {
  display: none;
}

.input-bell-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-bell-box > .bell-icon {
  margin-left: 50px;
  color: rgb(97, 94, 94);
  margin-right: 20px;
  font-size: 25px;
}

.book-search-input {
  border: none;
  padding: 10px;
}

.search-label {
  color: rgb(145, 140, 140);
  background-color: var(--primary);
  padding: 8px;
}

@media (max-width: 1220px) {
  .header-box {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .bell-icon {
    display: none;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 400px) {
  .burger-menu {
    display: block;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
}
