.header-box {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
  justify-content: space-between;
}

.input-bell-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-bell-box > .bell {
  margin-left: 50px;
  color: rgb(97, 94, 94);
  margin-right: 20px;
}

.book-search-input {
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.search-label {
  color: rgb(145, 140, 140);
}
