:root {
  --primary: rgb(255, 255, 255);
}

.header-box {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -0;
}

.greeting {
  font-weight: bold;
  font-size: 32px;
  color: rgb(54, 53, 53);
}

.burger-menu {
  display: none;
}

.input-bell-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bell-icon {
  margin-left: 50px;
  color: rgb(97, 94, 94);
  margin-right: 20px;
  font-size: 35px;
}

.book-search-input {
  width: 200px;
  padding: 15px;
  margin: 4px;
  box-sizing: border-box;
  padding-left: 40px;
  border: none;
  border-radius: 10px;
}

.search-imput-icon-box {
  position: relative;
}

.search-imput-icon-box > i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 10px 10px;
  color: #92989c;
}

/* .search-label {
  color: rgb(145, 140, 140);
  background-color: var(--primary);
  padding: 13px;
  cursor: pointer;
} */

.search-imput-box.open {
  display: block;
}

.close-search {
  display: none;
}

.turn-on-search {
  display: none;
}

@media (max-width: 900px) {
  .turn-on-search {
    display: block;
    color: rgb(145, 140, 140);
    cursor: pointer;
    font-size: 20px;
  }

  .search-imput-box {
    display: none;
  }

  .close-search {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(129, 125, 125);
    height: 45px;
    font-size: 25px;
  }

  .search-imput-box.open {
    display: flex;
    background-color: rgb(249, 252, 252);
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .bell-icon {
    display: none;
  }

  .navigation-item.bell-icon {
    display: block;
  }
}

@media (max-width: 575px) {
  .burger-menu {
    display: block;
    color: rgb(145, 140, 140);
  }
  .burger {
    display: block;
    color: rgb(145, 140, 140);
    cursor: pointer;
    font-size: 28px;
  }
}

@media (max-width: 475px) {
  .greeting {
    font-weight: 500;
    font-size: 30px;
  }

  .burger {
    font-size: 22px;
  }

  .turn-on-search {
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  .greeting {
    font-weight: 500;
    font-size: 28px;
  }

  .burger {
    font-size: 20px;
  }

  .turn-on-search {
    font-size: 16px;
  }
}

@media (max-width: 385px) {
  .greeting {
    font-weight: 500;
    font-size: 26px;
  }

  .burger {
    font-size: 20px;
  }

  .turn-on-search {
    font-size: 16px;
  }
}

@media (max-width: 365px) {
  .greeting {
    font-weight: 500;
    font-size: 22px;
  }

  .burger {
    font-size: 16px;
  }

  .turn-on-search {
    font-size: 14px;
  }
}
