.main {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.components {
  width: 100%;
  padding-left: 150px;
  padding-right: 30px;
}

.sideSection {
  margin: 20px;
}

@media (max-width: 1150px) {
  .container {
  }
  .main {
    min-height: 100vh;
    margin: 0px 0px;

    display: flex;
  }
  .components {
    padding-left: 100px;
    padding-right: 10px;
  }
}

@media (max-width: 775px) {
  .components {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main {
    min-height: 100vh;
  }
}

@media (max-width: 400px) {
  .components {
    padding: 5px;
  }
}
