.main {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(249, 252, 252);
  padding-right: 450px;
}

.secondMain {
  padding-right: 0px;
}

.components {
  width: 100%;
  padding-left: 150px;
  padding-right: 30px;
}

@media (max-width: 1350px) {
  .main {
    padding-right: 0px;
  }
}

@media (max-width: 775px) {
  .components {
    padding-left: 120px;
  }
}

@media (max-width: 550px) {
  .components {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* .components {
    padding-left: 100px;
    padding-right: 10px;
  }
} */

/* @media (max-width: 775px) {
  .components {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main {
    min-height: 100vh;
  }
}

@media (max-width: 400px) {
  .components {
    padding: 5px;
  }
} */
