.main {
  box-sizing: border-box;
  display: flex;
  background-color: rgb(249, 252, 252);
  padding-right: 520px;
}

.secondMain {
  padding-right: 0px;
}

.components {
  padding-left: 150px;
  padding-right: 40px;
  width: 1700px;
  margin: 0 auto;
}

@media (max-width: 1700px) {
  .secondMain {
    padding-right: 0px;
    width: auto;
    margin: 0 auto;
  }

  .main {
    padding-right: 0px;
  }
}

@media (max-width: 1325px) {
  .components {
    width: 100%;
  }
}

@media (max-width: 775px) {
  .components {
    padding-left: 120px;
    padding-right: 20px;
  }
}

@media (max-width: 650px) {
  .components {
    padding-left: 18px;
    padding-right: 18px;
  }
}
