:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(83, 43, 228);
  --solid-black: rgb(5, 5, 5);
}

.main-listened-box {
  display: flex;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 5px 3px 5px var(--solid-black);
  padding: 35px;
}

.chapter-percent {
  color: rgb(169, 155, 219);
}

.listenedBook {
  max-height: 250px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 3px var(--primary);
}

.book-cover-box {
  display: flex;
  align-items: center;
}

.play-button {
  height: 60px;
  width: 60px;
  background-color: var(--primary);
  border-radius: 60px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 2px 3px var(--solid-black);
  font-size: 30px;
  margin: 0 auto;
}

.play-button-box {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.book-title-box {
  padding: 0 40px;
  flex: 1;
  overflow: hidden;
}

.book-name {
  font-size: 42px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 550;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.progress-value {
  border-radius: 10px;
  background: rgb(8, 204, 188);
  height: 5px;
  width: 90%;
  position: absolute;
}

.progress-background {
  background: rgba(129, 185, 181, 0.596);
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  position: relative;
  display: flex;
  height: 6px;
  width: 100%;
}

.progres-value-box {
  display: flex;
  justify-content: space-between;
}

.dot {
  margin: 0 20px;
}
.play-button-box-phone {
  display: none;
}

@media (max-width: 1000px) {
  .book-name {
    font-size: 30px;
  }
  .listenedBook {
    height: 200px;
  }
}

@media (max-width: 810px) {
  .book-name {
    font-size: 28px;
  }

  .listenedBook {
    max-height: 200px;
  }

  .main-listened-box {
    padding: 25px;
  }

  .play-button-box {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  .book-title-box {
    padding: 0 25px;
  }
}

@media (max-width: 770px) {
  .book-name {
    font-size: 24px;
  }

  .play-button {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 690px) {
  .progress-bar-container {
    display: flex;
    align-items: center;
  }

  .play-button-box {
    display: none;
  }

  .play-button-box-phone {
    display: block;
    padding-left: 10px;
    padding: 3px 3px 3px 10px;
  }

  .play-button {
    height: 30px;
    width: 30px;
    box-shadow: 0px 2px 1px 2px var(--solid-black);
    font-size: 20px;
    margin: 0 auto;
  }

  .book-cover-box img {
    height: 180px;
  }

  .book-chapter {
    font-size: 15px;
  }

  .author-name {
    font-size: 15px;
  }

  .dot {
    margin: 0 10px;
  }

  .progres-value-box {
    padding-right: 40px;
  }
}

@media (max-width: 450px) {
  .book-cover-box {
    width: 100%;
  }

  .progress-bar-container {
    display: flex;
    align-items: center;
  }

  .play-button-box-phone {
    display: block;
    padding-left: 10px;
    padding: 3px 3px 3px 10px;
  }

  .main-listened-box p {
    font-size: 14px;
  }

  .main-listened-box {
    flex-direction: column;
    align-items: center;
  }

  .play-button-box {
    display: none;
  }

  .book-title-box {
    width: 100%;
    padding: 0;
  }

  .book-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
  }

  .main-listened-box {
    padding: 25px;
  }

  .listenedBook {
    height: 150px;
  }

  .book-name {
    font-size: 26px;
  }

  .play-button {
    font-size: 20px;
    margin: 0 auto;
  }

  .progres-value-box {
    padding-right: 40px;
  }
}
