.most-popular-played-book-section {
  margin-bottom: 15px;
}

.most-popular-played-book-section-header {
  margin: 20px 0 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-popular-played-book-box-info {
  overflow: hidden;
}

.most-popular-played-book-box {
  display: flex;
  width: 30%;
  margin-top: 10px;
  justify-content: space-between;
  height: 140px;
}

.most-popular-played-book-box > img {
  border-radius: 10px;
  width: 100px;
}

.most-popular-played-book-box-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.most-popular-played-book-box-time-rating {
  display: flex;
  justify-content: space-between;
}

.most-popular-played-book-box-info p {
  color: rgb(94, 93, 93);
  font-size: 15px;
}

.most-popular-book-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.most-popular-played-book-box-info {
  margin-left: 20px;
  font-size: 20px;
  width: 100%;
}

.most-popular-see-all-link {
  color: rgb(132, 69, 250);
  font-weight: 500;
}

.most-popular-title {
  font-size: 28px;
}

@media (max-width: 1050px) {
  .most-popular-played-book-box-section-list {
    flex-direction: column;
  }

  .most-popular-title {
    font-size: 22px;
  }

  .most-popular-played-book-box {
    width: 300px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .most-popular-played-book-box {
    width: 100%;
  }
}
/* @media (max-width: 340px) {
  .most-popular-book-name {
    width: 150px;
  }
} */
