:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(83, 43, 228);
  --solid-black: rgb(5, 5, 5);
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.navigation-off {
  display: none;
}

.navigation {
  width: 90px;
  position: absolute;
  display: block;
  max-height: max-content;
}

.nagivation.opened {
  display: block;
}

.user-nav-box {
  margin-bottom: 30px;
}

.user-nav-box > .nav-item {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary);
}

.navbar-nav > .nav-item:hover {
  background-color: var(--secondary);
  border-radius: 5px;
  transition: 150ms;
  box-shadow: 0px 5px 3px 1px var(--solid-black);
  color: var(--primary);
}

.user-nav-box > .lisen-item:hover {
  background-color: var(--secondary);
  border-radius: 100%;
  transition: 250ms;
  color: var(--secondary);
}

.nav-item {
  margin-top: 60px;
  cursor: pointer;
  color: rgb(112, 108, 108);
  background-color: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.nav-item:last-child {
  margin-top: auto;
  margin-bottom: 30px;
}

.exit-navigation {
  display: none;
}

@media (max-width: 775px) {
  .navigation {
    width: 90px;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 400px) {
  .navigation {
    position: absolute;
    z-index: 2;
    display: none;
  }

  .navigation.opened {
    display: block;
  }

  .exit-navigation {
    display: block;
    margin-top: 20px;
  }
}
