:root {
  --solid-black: rgb(5, 5, 5);
}

.side-book-section {
  background-color: rgb(247, 235, 212);
  border-radius: 10px;
  max-width: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 20px;
  overflow: auto;
}

:nth-child() .heder-and-book-section {
  top: 20px;
}

.side-book-section-header {
  display: flex;
  justify-content: space-between;
}

.side-book-section-header > p {
  color: rgb(104, 102, 102);
  cursor: pointer;
  margin: 20px 0 30px;
}

.side-book-section-main-book {
  display: flex;
  height: 220px;
  padding-bottom: 10px;
}

.reading-book-info {
  margin-left: 20px;
  display: block;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.active-book-image {
  border-radius: 5px;
}

.chapter-list-button {
  width: 100%;
  height: 40px;
  background-color: rgb(252, 243, 243);
  border: 2px solid var(--solid-black);
  border-radius: 7px;
  box-shadow: 0px 3px 2px 0px var(--solid-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  padding: 26px;
  margin-top: 30px;
}

.reading-book-info-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.reading-book-info-author {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(109, 107, 107);
}

.reading-book-info-chapter {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-book-section-centering-section {
  padding: 40px 40px 0 40px;
}

.book-text {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5px;
  line-height: 2;
  overflow: auto;
  padding: 40px;
  margin-bottom: 25px;
}

.book-text > p::first-letter {
  font-size: 350%;
  font-weight: bolder;
  padding: 13px 3px;
  margin-right: 3px;
  float: left;
}

.chapter-text {
  margin: 0;
}

.audio-player-box {
  padding: 0 10px 0 10px;
}

@media (max-width: 1530px) {
  /* .book-name {
    font-size: 36px;
  } */
}

@media (max-width: 1335px) {
  .side-book-section {
    max-width: 450px;
  }

  .side-book-section-centering-section {
    padding: 25px 25px 0 25px;
  }

  .side-book-section-main-book {
    display: flex;
    height: 200px;
  }

  .chapter-list-button {
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    padding: 20px;
  }
}

@media (max-width: 850px) {
  .side-book-section {
    box-sizing: border-box;
  }
}

@media (max-width: 575px) {
  .side-book-section {
    max-width: 575px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (max-width: 472px) {
  .reading-book-info-title {
    font-size: 20px;
  }

  .reading-book-info-chapter {
    font-size: 16px;
  }

  .side-book-section-main-book {
    height: 180px;
  }

  .reading-book-info {
    margin-left: 10px;
  }

  .chapter-list-button {
    height: 20px;
    font-size: 14px;
    padding: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 410px) {
  .active-book-image {
    height: 130px;
  }

  .audio-player {
    padding-top: 0px;
  }

  .chapter-list-button {
    height: 10px;
    font-size: 10px;
    padding: 10px;
    margin-top: 0px;
    width: 100px;
  }

  .reading-book-info-title {
    font-size: 18px;
  }

  .reading-book-info-chapter {
    font-size: 14px;
    margin: 10px 0;
  }

  .reading-book-info-author {
    margin: 6px 0;
    font-size: 12px;
  }

  .book-text {
    padding: 20px;
  }

  .side-book-section-main-book {
    height: 140px;
  }

  .side-book-section-header {
    height: 60px;
  }
}
